/* google font-- inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.hidden {
  display: none;
}

/* common style start */
:root {
  --white--color: #ffffff;
  --green-color: #00ff88;
  --nav-bg-color: #1a0b2e;
  --nav-border-color: #412567;
  --nav-hover-color: #fb09b4;
  --about-bg--color: #230e3d;
  --choose-bg--color: #230e3d;
  --choose-card-bg--color: rgba(53, 17, 101, 0.4);
  --featured-bg--color: #1a0b2e;
  --host-bg--color: #1a0b2e;
  --featured-card-bg--color: #250d44;
  --light-white--color:  rgba(255, 255, 255, 0.781);
}

.container {
  max-width: 80rem;
  margin: auto;
  padding: 0rem 2rem;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.btn {
  background-color: red;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--white--color);
  font-weight: 600;
  background: linear-gradient(to right top,
      #f7e93f 0%,
      #fb09b4 51%,
      #9100f8 100%);
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  color: var(--white--color);
  text-transform: capitalize;
}

/* common style end */

/* main style start */

/* header style start*/
.nav-container {
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid var(--nav-border-color);
}

.navbar {
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem;
}

.navbar .logo {
  width: 100%;
  max-width: 14rem;
}

.navbar .nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar .nav-list a {
  text-decoration: none;
  color: var(--white--color);
  font-weight: 500;
  line-height: 120%;
  transition: 0.3s;
}

.navbar .nav-list a:hover {
  color: var(--nav-hover-color);
}

.navbar .toggle {
  display: none;
  transition: 0.3s;
}

.navbar .toggle:hover {
  cursor: pointer;
}


.hero {
  background: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  align-items: center;
}

.hero-image img {
  margin-top: 5rem;
  background-image: url(../assets/hero-circle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 9rem;
  display: block;
  outline: none;
}

.hero-image {
  position: relative;
  margin-bottom: 0.8rem;
}

.hero-content .badge {
  background-color: var(--green-color);
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 8.75rem;
  left: 17.87rem;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.226);
}

.hero-content .title {
  font-size: 60px;
  font-weight: 800;
  color: var(--white--color);
  margin-bottom: 0.5rem;
}

.hero-content .tag-line {
  color: var(--white--color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-btn-box {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 6.31rem;
}

.hero-mail-btn {
  background: transparent;
  border: 2px solid var(--green-color);
  color: var(--green-color);
}

/* add animation hero section */
@keyframes hero-animation {
  from {
    transform: translateY(30px);
  }

  to {
    transform: translateY(0);
  }
}

.hero-animation {
  transform: translateY(30px);
  animation: hero-animation 1.5s ease-in-out 0.2s forwards;
}

/* header style end*/

/* about style start */
.about {
  padding-top: 3rem;
  background-color: var(--about-bg--color);
}

.about-content {
  padding-bottom: 1rem;
  border-bottom: 1px solid #d1ced51c;
}

.about-description {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--white--color);
  text-align: center;
  max-width: 699px;
  margin: 1rem auto 2rem auto;
}

.about-content p {
  text-align: center;
  color: var(--white--color);
  line-height: 1.5rem;
  margin-bottom: 5rem;
}

.about-card {
  padding: 5rem 0 7.5rem 0;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
}

.about-card .card {
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.about-card .star {
  font-size: 2.5rem;
}

.about-card .card-title {
  color: var(--green-color);
  font-size: 3rem;
  font-weight: 900;
}

.card-tagline {
  color: #d1ced5;
  text-transform: uppercase;
}

/* about style end */

/* choose */
.choose {
  /* padding: 7.5rem 12.5rem; */
  background-color: var(--choose-bg--color);
}

.choose-card-container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

.choose-card-container .item1 {
  grid-row: span 2;
}

.choose-card-container .item2 {
  grid-column: span 2;
}

.choose-card-container .item3 {
  grid-column: span 2;
}

.choose-card-container .item4 {
  grid-column: span 2;
}

.choose-card {
  background-color: var(--choose-card-bg--color);
  padding: 2.5rem;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  border: none;
  border-radius: 2.5rem;
  margin-top: 2.5rem;
}

.choose-card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white--color);
}

.choose-card-description {
  line-height: 1.5rem;
  color: var(--light-white--color);
}

/* choose style end */

/* featured style start */
.featured {
  background-color: var(--featured-bg--color);
  padding: 7.5rem 0rem;
}

.podcast-card-container {
  margin-top: 1rem;
  gap: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.podcast-card {
  width: 24rem;
  background-color: var(--featured-card-bg--color);
  align-items: center;
  gap: 1.5rem;
  border-radius: 1.5rem;
}

.podcast-card .podcast-video {
  width: 24rem;
  height: 14rem;
  border-radius: 1.5rem 1.5rem 0 0;
}

.podcast-content {
  padding: 0 1.5rem;
}

.podcast-content-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white--color);
  margin-bottom: 0.8rem;
}

.podcast-content-description {
  color: var(--light-white--color);
  margin-bottom: 1.5rem;
}

.podcast-duration {
  align-items: center;
  justify-content: start;
  gap: 6px;
  color: var(--green-color);
  margin-bottom: 1.5rem;
}

/* featured style end */

/* host style start */
.host {
  background-color: var(--host-bg--color);
  padding: 0rem 2.5rem 7.5rem;
}

.host-container {
  background-color: rgba(53, 17, 101, 0.4);
  margin-top: 2.5rem;
  padding: 2.5rem;
  border: none;
  border-radius: 2.5rem;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.host-img {
  width: 100%;
  max-width: 13rem;
}

.host-name {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white--color);
  margin-bottom: 1rem;
}

.host-description {
  color: var(--light-white--color);
  margin-bottom: 1rem;
  line-height: 1.5rem;
  max-width: 56rem;
}

.host-social-icon {
  justify-content: start;
  align-items: center;
  gap: 8px;
}

.host-social-icon img {
  width: 1rem;
}

.host-social-icon .icon {
  border: 1px solid #533c72;
  padding: 7px 9px 7px 9px;
  border-radius: 100%;
}

/* host style end */

/* footer style start */
.footer {
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-container {
  padding: 7.5rem;
  gap: 2rem;
}

.footer-container .footer-logo {
  width: 100%;
  max-width: 25rem;
  margin: auto;
}

.footer-sponsor-container {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2.5rem;
  max-width: 50rem;
  margin: auto;
  align-items: center;
}

.footer-sponsor-box .sponsor-name {
  color: var(--light-white--color);
  font-weight: 500;
}

.footer-sponsor-box {
  justify-items: center;
  align-items: center;
  gap: 8px;
  width: fit-content;
  /* border: 1px solid red; */
}

.footer-sponsor-box .item2 {
  padding-right: 20px;
}

.copyright {
  color: var(--light-white--color);
  line-height: 1.5rem;
  margin: auto;
  text-align: center;
}

/* footer style end */

/* main style end */

/* Medium Device responsive style start*/
@media screen and (min-width: 576px) and (max-width: 992px) {

  /* common style */
  .section-title {
    font-size: 2.5rem;
  }

  /* header style */
  .navbar .logo {
    max-width: 10rem;
  }

  .navbar .nav-list {
    display: none;
  }

  .navbar .nav-btn {
    display: none;
  }

  .navbar .toggle {
    display: block;
  }

  .hero {
    background-position: center;
  }

  .hero-image {
    margin-bottom: 0rem;
  }

  .hero-image img {
    margin-top: 0rem;
    padding: 4rem;
  }

  .hero-content .badge {
    top: 2.75rem;
    left: 10.87rem;
  }

  .hero-content .title {
    font-size: 50px;
  }

  .hero-btn-box {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 6.31rem;
  }

  .hero-btn-box {
    margin-bottom: 2.5rem;
  }

  /* aboute style */
  .about {
    padding-top: 2rem;
  }

  .about-content p {
    margin-bottom: 2rem;
  }

  .about-card {
    padding: 2rem 0 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  
  /* choose style */
  .choose {
    padding: 3rem 0rem;
  }

  .choose-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .choose-card-container .item5 {
    grid-column: span 2;
  }

  .choose-card-container .item1,
  .choose-card-container .item2,
  .choose-card-container .item3,
  .choose-card-container .item4 {
    grid-column: auto;
    grid-row: auto;
  }

  .choose-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* featured style */
  .host {
    padding: 0rem 2.5rem 3rem;
  }

  .featured {
    padding: 3.5rem 0rem;
  }

  .podcast-card-container {
    margin-top: 1rem;
  }

  .podcast-card-container .item3 {
    grid-column: span 2;
    margin: auto;
  }

  /* host style */
  .host-container {
    flex-direction: column;
  }

  .host-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .host-description {
    text-align: center;
  }

  /* footer style */
  .footer-container {
    padding: 2.5rem;
    gap: 2rem;
  }

  .footer-sponsor-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }

  .footer-container .footer-logo {
    max-width: 18rem;
  }
}

/* Medium Device responsive style end*/

/* Small device responsive style start */
@media screen and (max-width: 576px) {

  /* common style */
  .section-title {
    font-size: 2rem;
  }

  /* header style */
  .navbar .logo {
    max-width: 8rem;
  }

  .navbar .nav-list {
    display: none;
  }

  .navbar .nav-btn {
    display: none;
  }

  .navbar .toggle {
    display: block;
  }

  .hero {
    background-position: center;
  }

  .hero-image {
    margin-bottom: 0rem;
  }

  .hero-image img {
    margin-top: 0rem;
    padding: 4rem;
  }

  .hero-content .badge {
    top: 2.75rem;
    left: 10.87rem;
  }

  .hero-content .title {
    font-size: 40px;
  }

  .hero-btn-box {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 6.31rem;
  }

  .hero-btn-box {
    margin-bottom: 2.5rem;
  }

  .hero-btn-box .btn {
    padding: 12px 10px;
    font-size: 14px;
  }

  /* featured style */
  .featured {
    padding: 3.5rem 0rem;
  }

  .about {
    padding-top: 2rem;
  }

  .about-content p {
    margin-bottom: 1rem;
  }

  .about-card {
    padding: 2rem 0 2rem 0;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }

  .about-card .card-title {
    font-size: 2rem;
  }

  .about-card .star {
    font-size: 1.5rem;
  }

  /* choose style */
  .choose {
    padding: 2.5rem 0rem;
  }

  .choose-card-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .choose-card-container .item1,
  .choose-card-container .item2,
  .choose-card-container .item3,
  .choose-card-container .item4,
  .choose-card-container .item5 {
    grid-column: auto;
    grid-row: auto;
  }

  .choose-card-title {
    font-size: 1.3rem;
  }

  /* podcast */
  .podcast-card-container {
    margin-top: 1rem;
    flex-direction: column;
  }

  .podcast-card {
    width: 19rem;
  }

  .podcast-card .podcast-video {
    width: 19rem;
  }

  .podcast-content-title {
    font-size: 1.25rem;
  }

  /* host style */
  .host {
    padding: 0rem 2.5rem 2.5rem;
  }

  .host-container {
    flex-direction: column;
    border-radius: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem 0.8rem;
  }

  .host-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .host-description {
    text-align: center;
  }

  .host-name {
    font-size: 1.5rem;
  }

  /* footer style */
  .footer-container {
    padding: 2.5rem;
    gap: 2rem;
  }

  .footer-container .footer-logo {
    max-width: 14rem;
  }

  .footer-sponsor-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.3rem;
    row-gap: 1rem;
  }
}

/* Small device responsive style end */