/* google font-- inter font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
body {
  font-family: "Inter", sans-serif;
}

/* common style start */
:root {
  --text-color: #ffffff;
  --nav-bg-color: #1a0b2e;
  --nav-border-color: #412567;
  --nav-hover-color: #fb09b4;
  --hero-badge-color: #00ff88;
  --hero-btn-color: #00ff88;
}
.container {
  max-width: 80rem;
  margin: auto;
  padding: 2rem;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}

.btn {
  background-color: red;
  padding: 0.75rem 1rem;
  border-radius: 10rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  background: linear-gradient(
    to right top,
    #f7e93f 0%,
    #fb09b4 51%,
    #9100f8 100%
  );
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.9;
}

/* common style end */

/* main style start */

/* header style start*/
.nav-container {
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid var(--nav-border-color);
}
.navbar {
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem;
}

.navbar .logo {
  width: 100%;
  max-width: 14rem;
}
.navbar .nav-list {
  display: flex;
  list-style: none;
  gap: 2rem;
}
.navbar .nav-list a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  line-height: 120%;
  transition: 0.3s;
}
.navbar .nav-list a:hover {
  color: var(--nav-hover-color);
}
.navbar .toggle {
  display: none;
}

.hero {
  background: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-content {
  align-items: center;
}

.hero-image img {
  margin-top: 5rem;
  background-image: url(../assets/hero-circle.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding: 9rem;
  display: block;
  outline: none;
}
.hero-image {
  position: relative;
  margin-bottom: 0.8rem;
}
.hero-content .badge {
  background-color: var(--hero-badge-color);
  padding: 6px 16px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  top: 8.75rem;
  left: 17.87rem;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.226);
}

.hero-content .title {
  font-size: 60px;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.hero-content .tag-line {
  color: var(--text-color);
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-btn-box {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 6.31rem;
}

.hero-mail-btn {
  background: transparent;
  border: 2px solid var(--hero-btn-color);
  color: var(--hero-btn-color);
}
/* header style end*/

/* main style end */

/* Medium Device responsive style start*/
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* header style */
  .navbar .logo {
    max-width: 10rem;
  }

  .navbar .nav-list {
    display: none;
  }
  .navbar .nav-btn {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }

  .hero {
    background-position: center;
  }
  .hero-image {
    margin-bottom: 0rem;
  }
  .hero-image img {
    margin-top: 0rem;
    padding: 4rem;
  }
  .hero-content .badge {
    top: 2.75rem;
    left: 10.87rem;
  }
  
  .hero-content .title {
    font-size: 50px;
  }

  .hero-btn-box {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 6.31rem;
  }

  .hero-btn-box {
    margin-bottom: 2.5rem;
  }
}
/* Medium Device responsive style end*/

/* Small device responsive style start */
@media screen and (max-width: 576px) {
  /* header style */
  .navbar .logo {
    max-width: 8rem;
  }
  .navbar .nav-list {
    display: none;
  }
  .navbar .nav-btn {
    display: none;
  }
  .navbar .toggle {
    display: block;
  }

  .hero {
    background-position: center;
  }
  .hero-image {
    margin-bottom: 0rem;
  }
  .hero-image img {
    margin-top: 0rem;
    padding: 4rem;
  }
  .hero-content .badge {
    top: 2.75rem;
    left: 10.87rem;
  }
  
  .hero-content .title {
    font-size: 40px;
  }

  .hero-btn-box {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 6.31rem;
  }

  .hero-btn-box {
    margin-bottom: 2.5rem;
  }
}
/* Small device responsive style end */
